/* 
Name: Juan Ramirez
Date: 09/13/2020
Class: Software Engineering
Professor: Eric Pogue
*/ 

{
    margin: 0;
    padding: 0;

}

header
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.411)),url(background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.top-bar {
    background: rgb(0,0,0,0.5);
    height: 100px;
}

.corner {
    margin: 10px 40px;
    height: 80px;
}

.toggle {
    float: right;
    list-style: none;
    margin: 20px;
}

.toggle li {
    display: inline-block;
    margin: 10px 5px;
}

.toggle li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-family: fantasy;
    letter-spacing: 2px;
    border: 1px solid white;
}

.toggle li a:hover {
    background: aqua;
    transition: all 0.3s ease-in;
    color: black;
}

body
{
font-family: fantasy;
}


.dream
{
position: relative;
text-align: center;
font-family: fantasy;
color: orange;
top: auto;
}

h1
{
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-top: 275px;
}

.button
{
    margin-top: 0px;
    margin-left: 80px;
}

.bu
{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 16px;
    text-transform: uppercase;
}

.button-one
{

    font-family: sans-serif;
}

.button-two
{
    font-family: sans-serif;;
}

.button-one:hover
{
    background-color: darkcyan;
    transition: all 0.3s ease-in;
}

.button-two:hover
{
    background-color: darkcyan;
    transition: all 0.3s ease-in;
}